@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #1a1a1a;
  --card-bg: #f3f4f6;
}

.dark {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --card-bg: #1f2937;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--card-bg);
}
